In [5]:
import pandas as pd
import numpy as mp
import seaborn as sns
import matplotlib.pyplot as plt
import folium
import json
import matplotlib as mpl
plt.rc('font', family='Malgun Gothic')
import os
print(os.getcwd())

C:\Suwon_Security

In [91]:
# 전국 & 서울 + 각 구별 인구 & 수원 & 창원 & 진주 인구 데이터 ( 2019년 )
df_pop = pd.read_csv("data/행정구역_시군구_별_주민등록세대수.csv", encoding = 'ansi')
df_pop.columns = ['city','pop']
df_pop.set_index('city', inplace=True)
pop_seoul = df_pop.iloc[0:27]
pop_else = df_pop.loc[['수원시', '창원시', '진주시']]
df_pop = pop_seoul.append(pop_else)
display(df_pop)

df_pop.to_csv('output/2019년_전국+서울전체+서울구별+수원+창원+진주_인구.csv', encoding='utf-8')

            pop
city
전국     23383689
서울특별시   4421143
종로구       73652
중구        63267
용산구      111177
성동구      134620
광진구      167438
동대문구     167591
중랑구      185497
성북구      195099
강북구      144573
도봉구      138582
노원구      217269
은평구      214181
서대문구     143712
마포구      179541
양천구      181281
강서구      270389
구로구      180424
금천구      116545
영등포구     186360
동작구      184825
관악구      276182
서초구      171497
강남구      234218
송파구      282018
강동구      201205
수원시      516103
창원시      450188
진주시      156800

In [94]:
# 서울 관할구 연령별 디테일 인구특성 분포 (2021 2분기)

df_seoul = pd.read_csv("data/연령별_구별_서울시_주민등록인구_2분기_2021.csv", encoding = 'ansi')
df_seoul.drop(['연도','분기'],axis=1,inplace=True)
#print(df_seoul.dtypes)
df_seoul.replace(' ', 0, inplace=True)
df_seoul['연령90_94세'] = df_seoul['연령90_94세'].astype(int)
df_seoul['연령95_100세'] = pd.to_numeric(df_seoul['연령95_100세'])
df_seoul['연령_100세이상'] =pd.to_numeric(df_seoul['연령_100세이상'])
#display(df_seoul.info())
#print(df_seoul.isblank().sum(axis=1))
df_seoul['10세 미만'] = df_seoul['연령0_4세']+df_seoul['연령5_9세']
df_seoul['10대'] = df_seoul['연령10_14세']+df_seoul['연령15_19세']
df_seoul['20대'] = df_seoul['연령20_24세']+df_seoul['연령25_29세']
df_seoul['30대'] = df_seoul['연령30_34세']+df_seoul['연령35_39세']
df_seoul['40대'] = df_seoul['연령40_44세']+df_seoul['연령45_49세']
df_seoul['50대'] = df_seoul['연령50_54세']+df_seoul['연령55_59세']
df_seoul['60대'] = df_seoul['연령60_64세']+df_seoul['연령65_69세']
df_seoul['70세 이상'] = df_seoul['연령70_74세']+df_seoul['연령75_79세']+df_seoul['연령80_84세']+df_seoul['연령85_89세']+df_seoul['연령90_94세']+df_seoul['연령95_100세']+df_seoul['연령_100세이상']

df_seoul.drop(df_seoul.columns[3:24],axis=1,inplace=True)
df_seoul.drop(df_seoul.index[38],axis=0,inplace=True)
display(df_seoul)

df_seoul.to_csv('output/2021년_서울_관할지역_연령별_내외국인분포.csv', encoding='utf-8')

,행정구역,구분,합계,10세 미만,10대,20대,30대,40대,50대,60대,70세 이상
0,종로구,한국인,146029,7275,10684,23147,19595,21433,24939,20192,18764
1,종로구,등록외국,9077,239,345,4551,1410,1027,1004,403,98
2,중구,한국인,123016,6505,6663,18323,19881,17738,20203,17756,15947
3,중구,등록외국,9243,489,435,3071,1877,1277,1356,571,167
4,용산구,한국인,226378,13157,15144,33605,38161,34772,36432,28855,26252
5,용산구,등록외국,14287,1281,1055,2225,3724,2949,2030,767,256
6,성동구,한국인,289162,19842,19413,44374,47706,43988,46514,37132,30193
7,성동구,등록외국,6605,230,184,2800,1221,781,961,355,73
8,광진구,한국인,342481,18576,25320,62352,55128,51276,53830,43531,32468
9,광진구,등록외국,12825,639,464,5036,2183,1321,2301,779,102
10,동대문구,한국인인,338040,19982,23245,56158,49262,49475,52297,46971,40650
11,동대문구,등록외국,14219,320,422,8884,2051,937,1121,395,89
12,중랑구,한국인,389972,22029,25952,55480,57050,56493,68222,59813,44933
13,중랑구,등록외국,4707,325,184,1109,1252,674,841,274,48
14,성북구,한국인,433658,28368,36669,66183,59249,68737,69033,56027,49392
15,성북구,등록외국,9548,279,413,5385,1669,802,667,253,80
16,강북구,한국인,302645,14906,21310,41995,37702,45257,51740,46816,42919
17,강북구,등록외국,3448,153,80,1081,804,499,542,230,59
18,도봉구,한국인,320365,17841,24819,42520,39828,47191,56062,50807,41297
19,도봉구,등록외국,2054,87,63,569,558,344,310,107,16
20,노원구,한국인,515997,31763,51468,71705,63730,83729,87067,69672,56863
21,노원구,등록외국,4008,118,183,1862,829,437,394,150,35
22,은평구,한국인,475371,28620,37782,66395,67380,75071,76763,65915,57445
23,은평구,등록외국,4038,189,194,747,1055,691,752,310,100
24,서대문구,한국인,307070,19452,23065,49525,44493,46171,48627,39141,36596
25,서대문구,등록외국,10629,243,524,5488,1748,987,843,541,255
26,마포구,한국인,370132,24276,28115,61815,63856,60539,54490,40492,36549
27,마포구,등록외국,9852,333,348,4233,2184,1159,948,472,175
28,양천구,한국인,450992,30688,50002,58724,56731,77790,76068,59438,41551
29,양천구,등록외국,3296,135,115,465,789,622,830,269,71
30,강서구,한국인,577519,38228,44017,86728,98479,90187,84710,78490,56680
31,강서구,등록외국,5476,312,126,796,1541,965,1177,449,110
32,구로구,한국인,399266,26799,29575,54803,61653,62047,62305,56937,45147
33,구로구,등록외국,25316,1699,785,1821,4849,4404,8474,2916,368
34,금천구,한국인,230168,12028,14295,37184,35651,32099,39505,33986,25420
35,금천구,등록외국,14517,1062,467,933,2651,2610,5062,1540,192
36,영등포구,한국인,377421,25422,23873,59111,69267,55865,56182,47717,39984
37,영등포구,등록외국,24954,1645,865,1661,4498,4312,8586,2941,446
39,동작구,한국인,387847,23873,27291,65435,61569,58061,57788,50031,43799
40,동작구,등록외국,9384,311,272,3484,1554,1004,1878,762,119
41,관악구,한국인,488800,21044,27873,108741,85734,66796,67131,59620,51861
42,관악구,등록외국,13898,641,462,3195,2928,1863,3367,1256,186
43,서초구,한국인,418407,32547,44845,53637,61166,76005,62969,48173,39065
44,서초구,등록외국,3767,262,249,619,1040,829,539,180,49
45,강남구,한국인,531375,35384,58183,71666,79063,97714,80287,60385,48693
46,강남구,등록외국,4732,114,152,1319,1570,788,516,204,69
47,송파구,한국인,658670,48533,57871,92215,107398,107534,101179,86178,57762
48,송파구,등록외국,5671,271,151,854,1546,998,1354,408,89
49,강동구,한국인,465209,35388,39098,61387,72596,75103,71889,65729,44019
50,강동구,등록외국,3885,196,118,634,971,684,927,304,51

In [105]:
# 행정구역 별 통계치
#grouped_area = 
Seoul_foreign = df_seoul.groupby(['행정구역','구분']).sum()
Seoul_total = df_seoul.groupby(['행정구역']).sum()
#grouped_area
# for key, group in grouped_area :
#     print('- area : ', key)
#     print(group)
#     print('\n')
Seoul_total.to_csv('output/2021년_서울_관할지역_연령별_총인구분포.csv', encoding='utf-8')
Seoul_foreign.to_csv('output/2021년_서울_관할지역_연령별_내외국인분포.csv', encoding='utf-8')

In [139]:
one_person = pd.read_csv('data/33.4개시도_1인가구수.csv', encoding='utf-8')
one_person.columns = ['지역', '관할구','성별','연령','시점','1인가구','주택_계', '단독주택','아파트','연립주택','다세대주택','비거주용건물내주택','주택외거처']

one_person = one_person.loc[one_person['연령']=='합계']
display(one_person)
one_person.replace('X', 0, inplace=True)

one_person['아파트'] = one_person['아파트'].astype(int)
one_person['연립주택'] = one_person['연립주택'].astype(int)
one_person['다세대주택'] = one_person['다세대주택'].astype(int)
one_person['비거주용건물내주택'] = one_person['비거주용건물내주택'].astype(int)
one_person['주택외거처'] = one_person['주택외거처'].astype(int)
display(one_person.info())

one_person.drop('연령', axis=1, inplace=True)

total_group = one_person.groupby(['지역','관할구','시점']).sum()
display(total_group[10:50])
#total_group.to_csv('output/4개시도_연도별_1인가구+주택현황.csv',encoding)

,지역,관할구,성별,연령,시점,1인가구,주택_계,단독주택,아파트,연립주택,다세대주택,비거주용건물내주택,주택외거처
0,서울특별시,종로구,계,합계,2017,23638,19260,11234,2992,887,3279,868,4378
16,서울특별시,종로구,남자,합계,2017,11594,9013,5565,1282,315,1407,444,2581
32,서울특별시,종로구,여자,합계,2017,12044,10247,5669,1710,572,1872,424,1797
48,서울특별시,중구,계,합계,2017,20164,16111,7181,5673,301,2102,854,4053
64,서울특별시,중구,남자,합계,2017,9826,7480,3475,2384,142,1027,452,2346
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,서울특별시,광진구,남자,합계,2018,27057,24028,17100,1359,218,4129,1222,3029
4976,서울특별시,광진구,여자,합계,2018,29280,26222,16925,2232,367,5526,1172,3058
4992,서울특별시,광진구,계,합계,2019,58714,52345,34357,4142,557,10857,2432,6369
5008,서울특별시,광진구,남자,합계,2019,28035,24993,17395,1565,200,4551,1282,3042
5024,서울특별시,광진구,여자,합계,2019,30679,27352,16962,2577,357,6306,1150,3327

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 0 to 5024
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         315 non-null    object
 1   관할구        315 non-null    object
 2   성별         315 non-null    object
 3   연령         315 non-null    object
 4   시점         315 non-null    int64
 5   1인가구       315 non-null    int64
 6   주택_계       315 non-null    int64
 7   단독주택       315 non-null    int64
 8   아파트        315 non-null    int32
 9   연립주택       315 non-null    int32
 10  다세대주택      315 non-null    int32
 11  비거주용건물내주택  315 non-null    int32
 12  주택외거처      315 non-null    int32
dtypes: int32(5), int64(4), object(4)
memory usage: 28.3+ KB

None

                       1인가구    주택_계    단독주택    아파트  연립주택  다세대주택  비거주용건물내주택  \
지역    관할구      시점
경기도   수원시팔달구   2018   54628   44282   21800  11096   854   8932       1600
               2019   56396   45806   20890  12562  1352   9232       1770
경상남도  진주시      2017   83246   79634   53552  21370   534   1658       2520
               2018   84280   80556   52184  23858   534   1580       2400
               2019   88006   84232   52224  27368   604   1576       2460
      창원시마산합포구 2017   43038   37874   24324  11308   652    590       1000
               2018   43806   38548   24160  12236   702    562        888
               2019   46766   41144   25792  13114   730    586        922
      창원시마산회원구 2017   40330   37458   22516  11650  1242   1242        808
               2018   40138   37016   21232  12506  1288   1224        766
               2019   40662   37660   20736  13598  1362   1268        696
      창원시성산구   2017   37022   29686   13626  15584    70     19        384
               2018   38814   30774   13016  17250    86     26        396
               2019   40226   32158   12968  18728    78     17        364
      창원시의창구   2017   52970   50546   35858  12030   606   1208        844
               2018   53874   51150   34576  13648   626   1434        866
               2019   56270   53460   34070  16774   688   1152        776
      창원시진해구   2017   38044   36780   21256  12810  1210   1140        364
               2018   39928   38780   21122  14990  1208   1110        350
               2019   41924   40742   20994  16876  1310   1196        366
서울특별시 강남구      2017  125548  106928   38518  39308  2148  22668       4286
               2018  125454  105614   38076  37228  2090  23776       4444
               2019  132146  110102   38574  39386  2132  25526       4484
      강동구      2017   82100   71834   37126  16830   738  14532       2608
               2018   84252   73392   36636  16962   782  16392       2620
               2019   90376   79032   37322  19686   704  18506       2814
      강북구      2017   78164   72862   40742  11908  1772  16588       1852
               2018   81744   76040   41836  12416  1786  18168       1834
               2019   85582   79686   42980  13986  1810  19000       1910
      강서구      2017  136474  100408   31984  39936  1598  25138       1752
               2018  146022  105750   31936  42442  1646  27926       1800
               2019  158742  113956   32894  46082  1808  31244       1928
      관악구      2017  213730  176814  113270  21980  2124  21758      17682
               2018  225466  187040  118318  23616  2190  23484      19432
               2019  239726  200918  129116  23666  2250  25088      20798
      광진구      2017  109732   98606   68052   7024  1132  17670       4728
               2018  112674  100500   68050   7182  1170  19310       4788
               2019  117428  104690   68714   8284  1114  21714       4864
      구로구      2017   85968   63098   29066  20034  2310   9810       1878
               2018   88302   65172   28392  22084  2470  10496       1730

                     주택외거처
지역    관할구      시점
경기도   수원시팔달구   2018  10346
               2019  10590
경상남도  진주시      2017   3612
               2018   3724
               2019   3774
      창원시마산합포구 2017   5164
               2018   5258
               2019   5622
      창원시마산회원구 2017   2872
               2018   3122
               2019   3002
      창원시성산구   2017   7336
               2018   8040
               2019   8068
      창원시의창구   2017   2424
               2018   2724
               2019   2810
      창원시진해구   2017   1264
               2018   1148
               2019   1182
서울특별시 강남구      2017  18620
               2018  19840
               2019  22044
      강동구      2017  10266
               2018  10860
               2019  11344
      강북구      2017   5302
               2018   5704
               2019   5896
      강서구      2017  36066
               2018  40272
               2019  44786
      관악구      2017  36916
               2018  38426
               2019  38808
      광진구      2017  11126
               2018  12174
               2019  12738
      구로구      2017  22870
               2018  23130

In [134]:
#서울시 단독가구
seoul_only = one_person.loc[one_person['지역']=='서울특별시']

#수원시 단독가구
suwon_only = one_person.loc[one_person['지역']=='서울특별시']

#창원시 단독가구
chanwon_only = one_person.loc[one_person['지역']=='서울특별시']

#진주시 단독가구
jinju_only = one_person.loc[one_person['지역']=='서울특별시']

# display(seoul_only[1000:1050])
#one_person_area = one_person.groupby(['지역','관할구','시점']).sum()
#display(one_person_area)

,지역,관할구,성별,연령,시점,1인가구,계,단독주택,아파트,연립주택,다세대주택,비거주용건물내주택,주택외거처
0,서울특별시,종로구,계,합계,2017,23638,19260,11234,2992,887,3279,868,4378
16,서울특별시,종로구,남자,합계,2017,11594,9013,5565,1282,315,1407,444,2581
32,서울특별시,종로구,여자,합계,2017,12044,10247,5669,1710,572,1872,424,1797
48,서울특별시,중구,계,합계,2017,20164,16111,7181,5673,301,2102,854,4053
64,서울특별시,중구,남자,합계,2017,9826,7480,3475,2384,142,1027,452,2346
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,서울특별시,광진구,남자,합계,2018,27057,24028,17100,1359,218,4129,1222,3029
4976,서울특별시,광진구,여자,합계,2018,29280,26222,16925,2232,367,5526,1172,3058
4992,서울특별시,광진구,계,합계,2019,58714,52345,34357,4142,557,10857,2432,6369
5008,서울특별시,광진구,남자,합계,2019,28035,24993,17395,1565,200,4551,1282,3042
5024,서울특별시,광진구,여자,합계,2019,30679,27352,16962,2577,357,6306,1150,3327

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 0 to 5024
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         315 non-null    object
 1   관할구        315 non-null    object
 2   성별         315 non-null    object
 3   연령         315 non-null    object
 4   시점         315 non-null    int64
 5   1인가구       315 non-null    int64
 6   계          315 non-null    int64
 7   단독주택       315 non-null    int64
 8   아파트        315 non-null    int32
 9   연립주택       315 non-null    int32
 10  다세대주택      315 non-null    int32
 11  비거주용건물내주택  315 non-null    int32
 12  주택외거처      315 non-null    int32
dtypes: int32(5), int64(4), object(4)
memory usage: 28.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 0 to 5024
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         315 non-null    object
 1   관할구        315 non-null    object
 2   성별         315 non-null    object
 3   시점         315 non-null    int64
 4   1인가구       315 non-null    int64
 5   계          315 non-null    int64
 6   단독주택       315 non-null    int64
 7   아파트        315 non-null    int32
 8   연립주택       315 non-null    int32
 9   다세대주택      315 non-null    int32
 10  비거주용건물내주택  315 non-null    int32
 11  주택외거처      315 non-null    int32
dtypes: int32(5), int64(4), object(3)
memory usage: 25.8+ KB

None